@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --font-primary: "Inter";
    --color-title: #4338CA;
    --color-titleBold: #1F2937;
    --color-primary:#6B7280;
    --color-border:#BAB2E7;
}

body{
    @apply font-primary text-primary text-lg;
}

.btn{
    @apply text-title border-1 border-title rounded-md w-30 h-10
    flex items-center justify-center
}

.btn-fil{
    @apply bg-[#3730A3] text-white border-1 border-title rounded-md w-30 h-10
    flex items-center justify-center
}

.title-1{
    @apply text-titleBold text-5xl font-semibold
}

.title-2{
    @apply text-title text-3xl font-medium
}

